<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v={{ time() }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>Fraud Detection Dashboard</title>
</head>
<body>

    <div class="section1">
        <h2 id="current-time"></h2>
        <div class="tittle-section">
            <h1>Welcome to the Fraud Detection Dashboard</h1>
            <img src="{{ url_for('static', filename='pictures/logo2.svg') }}" class="logo1" alt="Logo1">
        </div>
    
        <!-- Section for time -->
        <script>
            let time = document.getElementById('current-time');
            setInterval(() => {
                let date = new Date();
                time.innerHTML = date.toLocaleTimeString();
            }, 1000);
        </script>
        
        <!--Section for diving tittle/section1 and content below-->
        <hr>

        <div class="content">
            <!-- welcome tittle-->
             <h2> Welcome to Fraud Detection </h2>
             <p>
                Objective: To provide a comprehensive overview of the Fraud Detection system, including its features, functionalities, and benefits.
             </p>
        </div>    

        <div class="form-container">
            <h2> Insert Files here</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv, .xlsx">
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>

</body>
</html>

